

  .form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
  }
  
  .form {
    width: 420px;
    box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
    padding-top: 30px;
    padding-bottom: 20px;
    border-radius: 8px;
    background-color: white;
  }
  
  .form-content {
    padding-left: 12%;
    padding-right: 12%;
  }
  .google-btn{
    border-radius: 5px;
  } 
  .google-img{
    width: 30px;
  }
  label {
    font-size: 14px;
    font-weight: 600;
    color: rgb(34, 34, 34);
  }