.container{
  background-image: url(
    "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSKHNdO7MODzGH6K_8qHJHfu4dI3yFzCTy3tHZmrxYlKg&s"
) }



/* .form-container { */
button {
  max-width: 320px;
  display: flex;
  padding: 0.5rem 1.4rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  align-items: center;
  border-radius: 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.25);
  gap: 0.75rem;
  color: rgb(65, 63, 63);
  background-color: #fff;
  cursor: pointer;
  transition: all .6s ease;
}

.button svg {
  height: 24px;
}

.form-content {
  padding-left: 12%;
  padding-right: 12%;
  border-radius: 5px;
}
.google-btn{
  padding-left: 12%;
  padding-right: 12%;
  border-radius: 5px;
} 
.google-img{
  width: 30px;
}
label {
  font-size: 14px;
  font-weight: 600;
  color: rgb(34, 34, 34);
}

/* button {
  max-width: 320px;
  display: flex;
  padding: 0.5rem 1.4rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  align-items: center;
  border-radius: 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.25);
  gap: 0.75rem;
  color: rgb(65, 63, 63);
  background-color: #fff;
  cursor: pointer;
  transition: all .6s ease;
}

.button svg {
  height: 24px;
}

button:hover {
  transform: scale(1.02);
} */
button:hover {
  transform: scale(1.02);
}
